<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script>
        //AJAX post to create playlist
        function createPlaylist(){      
            var name = document.getElementById('name').value;  
            var long = document.getElementById('longitude').value;
            var lat = document.getElementById('latitude').value;
            var pass = document.getElementById('password').value;
            console.log(name);        
            $.ajax( {
                url: '/create',
                type: 'POST',
                data: {"name": name, "id": "<%= id %>", "access_token": '<%= access_token %>', "refresh_token": '<%= refresh_token %>', "long": long, "lat": lat, "pass": pass, "code": '<%= code %>'},
                success: function(res) {
                    console.log('success');  
                    console.log(res);
                    window.location.href = '/';
                }
            });                              
        }
        console.log( "<%= body.id %>" );
        var longitude = null;
        var latitude = null;
        $( document ).ready(function() {
            navigator.geolocation.getCurrentPosition(function(position){
                longitude = position.coords.longitude;
                latitude = position.coords.latitude;
                document.getElementById('longitude').value = longitude;
                document.getElementById('latitude').value = latitude;
            });
        });
    </script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>ID: <%= id %></p>
    <input id="name" name="name" type="text" />  
    <input id="longitude" name="longitude" type="text" />
    <input id="latitude" name="latitude" type="text" />
    <input id="password" name="password" type="text" />
    <button onclick="createPlaylist()">Create Playlist</button>
  </body>
</html>
