<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' />
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script>
        //AJAX post to create playlist
        function createPlaylist(){      
            var name = document.getElementById('name').value;  
            var long = document.getElementById('longitude').value;
            var lat = document.getElementById('latitude').value;
            var pass = document.getElementById('password').value;
            console.log(name);        
            $.ajax( {
                url: '/create',
                type: 'POST',
                data: {"name": name, "id": "<%= id %>", "access_token": '<%= access_token %>', "refresh_token": '<%= refresh_token %>', "long": long, "lat": lat, "pass": pass, "code": '<%= code %>'},
                success: function(res) {
                    console.log('success');  
                    console.log(res);
                    window.location.href = '/';
                }
            });                              
        }
        console.log( "<%= body.id %>" );
        var longitude = null;
        var latitude = null;
        $( document ).ready(function() {
            navigator.geolocation.getCurrentPosition(function(position){
                longitude = position.coords.longitude;
                latitude = position.coords.latitude;
                document.getElementById('longitude').value = longitude;
                document.getElementById('latitude').value = latitude;
            });
        });
    </script>
  </head>
  <body>
  <nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li>
        <a href="/"><span class="glyphicon glyphicon-home"></span> Nearby Playlists</a>
      </li>
      <li class="active">
        <a href="/create"><span class="glyphicon glyphicon-plus"></span> Create Playlist</a>
      </li>
    </ul>
  </div>
    </nav>
    <div class="container">
    <div class="jumbotron">
        <h1>Create a Playlist</h1>
        <p>Create a playlist to be collaborated on at a party</p>
    </div>
    <p style="display:none">ID: <%= id %></p>
    <div class="form-group">
        <label for="name">Playlist name</label>
        <input id="name" type="email" class="form-control" name="name" type="text" placeholder="Name" />  
    </div>
        <input style="display:none" id="longitude" name="longitude" type="text" />
        <input style="display:none" id="latitude" name="latitude" type="text" />
    <div class="form-group">
        <label for="password">Password</label>
        <input id="password" type="password" class="form-control" name="password" type="text" placeholder="Password" />
    </div>
    <button type="submit" class="btn btn-default" onclick="createPlaylist()">Create Playlist</button>
    </div>
  </body>
</html>
